version: "3.9"
services:
  collector:
    image: ghcr.io/apache/skywalking-agent-test-tool/mock-collector:5acb890f225ca37ee60675ce3e330545e23e3cbc
    ports:
      - "19876:19876"
      - "12800:12800"
    healthcheck:
      test: ["CMD", "curl", "http://0.0.0.0:12800/healthCheck"]
      interval: 10s
      timeout: 5s
      retries: 5

  consumer:
    build:
      context: .
      dockerfile: ./tests/e2e/docker/Dockerfile
    expose: 
      - 8082
    command: --mode consumer
    depends_on:
      collector:
        condition: service_healthy

  producer:
    build:
      context: .
      dockerfile: ./tests/e2e/docker/Dockerfile
    ports:
      - "8081:8081"
    command: --mode producer
    depends_on:
      collector:
        condition: service_healthy
      consumer:
        condition: service_started
