# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
name: CI

on:
  pull_request:
  push:
    branches:
      - master
    tags:
      - 'v*'

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: "1"
  RUSTFLAGS: "-D warnings"

jobs:
  CI:
    needs:
    - license-check
    - fmt
    - check-and-test
    - doc
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'

  license-check:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - name: Install Cargo nightly
        run: rustup toolchain install nightly
      - name: Cargo minimal versions
        run: cargo +nightly -Z minimal-versions generate-lockfile
      - name: Check License Header
        uses: apache/skywalking-eyes/header/@d299844e334855087f18ae1fe3c81ae8d22bc282
        with:
          config: .github/licenserc.yaml
      - name: Check Dependencies License
        uses: apache/skywalking-eyes/dependency/@d299844e334855087f18ae1fe3c81ae8d22bc282
        with:
          config: .github/licenserc.yaml
      - name: Check Dependencies Licenses Summary
        run: |
          go install github.com/apache/skywalking-eyes/cmd/license-eye@d299844e334855087f18ae1fe3c81ae8d22bc282
          license-eye dependency resolve --summary ./dist-material/LICENSE.tpl -c .github/licenserc.yaml || exit 1
          if [ ! -z "$(git diff -U0 ./dist-material/LICENSE)" ]; then
            echo "LICENSE file is not updated correctly"
            git diff -U0 ./dist-material/LICENSE
            exit 1
          fi


  fmt:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - name: Install Rust toolchain
        run: rustup toolchain install nightly-2022-07-30 --component rustfmt
      - name: Run format
        run: cargo +nightly-2022-07-30 fmt --all -- --check

  check-and-test:
    strategy:
      fail-fast: false
      matrix:
        features:
          - ""
          - "--features management"
          - "--features vendored"
          - "--all-features"
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - name: Install protoc
        run: sudo apt-get install -y protobuf-compiler
        if: ${{ matrix.features != '--features vendored' }}
      - name: Install Rust toolchain
        run: rustup toolchain install 1.63.0 --component clippy
      - name: Run check
        run: cargo check --workspace --release ${{ matrix.features }}
      - name: Run clippy
        run: cargo clippy --workspace --release ${{ matrix.features }} -- -D warnings
      - name: Run tests
        run: cargo test --workspace --release ${{ matrix.features }}

  doc:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - name: Install protoc
        run: sudo apt-get install -y protobuf-compiler
      - name: Install Rust toolchain
        run: rustup toolchain install nightly-2022-07-30
      - name: Run docs
        run: cargo +nightly-2022-07-30 rustdoc --release --all-features -- --cfg docsrs
